<!DOCTYPE html>
<html>
<head>
<title>Lesson 2 ABC's</title>
</head>
<body>

<h1>Lesson 2: ABC's</h1>
<h2>2.5 Quiz Questions</h2>
<p>1. What sign from this lesson has fingers 2-5 closed into the palm? <br>a. A <br>b. B <br>c. C <br>d. None of the above</p>
<p>2. What sign from this lesson has fingers 3,4, and 5 standing up and apart from each other? <br>a. A <br>b. B <br>c. C <br>d. None of the above</p>
<p>3. How many fingers does the letter B have pointing upwards? <br>a. 1 <br>b. 2 <br>c. 3 <br>d. 4</p>
<p>4. What sign is this?</p>
<img src="letterC.jpg" alt="letter C" width="200" height ="200">
<p>a. A <br>b. B <br>c. C <br>d. None of the above</p>

</body>
</html>