<!DOCTYPE html>
<html>
<head>
<title>Lesson 3 D-G</title>
</head>
<body>

<h1>Lesson 3: D-G</h1>
<h2>3.2 D</h2>
<p>Traditionally, the palm is facing the listener</p>
<p>The letter d begins with finger 2 pointing upwards</p>
<p>Fingers 3-5 will form a semicircle and meet Finger 1 doing the same from under and touch.</p>
<p>This hand sign is also popularly done by facing the palm sideways similar to the letter C. This is an acceptable alternative</p>
<img src="letterD.jpg" alt="letter D" width="150" height ="250">

</body>
</html>