<!DOCTYPE html>
<html>
<head>
<title>Lesson 2 ABC's</title>
</head>
<body>

<h1>Lesson 2: ABC's</h1>
<h2>2.3 B</h2>
<p>B can be seen as the opposite of A</p>
<p>Palm facing your listener</p>
<p>Fingers 2-5 should be pointing upwards side by side</p>
<p>Finger 1 should be closed into the palm</p>
<img src="letterB.jpg" alt="letter B" width="150" height ="250">

</body>
</html>