<!DOCTYPE html>
<html>
<head>
<title>Lesson 2 ABC's</title>
</head>
<body>

<h1>Lesson 2: ABC's</h1>
<h2>2.4 C</h2>
<p>C’s letter is one of the few that is quite self explanatory since you will just make a C shape with your hand</p>
<p>Unlike A and B this time your palm will face sideways</p>
<p>Now finger 1 should go under and form a curve</p>
<p>Fingers 2-5 will do the same but on top side to side</p>
<img src="letterC.jpg" alt="letter C" width="200" height ="200">

</body>
</html>