<!DOCTYPE html>
<html>
<head>
<title>Lesson 3 D-G</title>
</head>
<body>

<h1>Lesson 3: D-G</h1>
<h2>3.1 Before we Start</h2>
<p>Before we begin flex and close your hand a few times and make sure your fingers are good to go.</p>
<p>Remember, your wrist orientation and finger position are crucial in sign making</p>
<p>This lesson you will be learning the rest of the first line of letters in the alphabet: D, E, F, and G. After this lesson, each lesson will be
<br> an entire line of the alphabet and the quizzes will begin to be more complex. After this lesson you will be given the choice of a multiple 
<br>choice quiz and the camera identification quiz or returning to the main menu</p>

</body>
</html>