<!DOCTYPE html>
<html>
<head>
<title>Lesson 3 D-G</title>
</head>
<body>

<h1>Lesson 3: D-G</h1>
<h2>3.5 G</h2>
<p>G is a bit difficult to show with one image, so this one will have 2</p>
<p>First, face your palm towards yourself and point your hand left</p>
<p>Finger 3,4, and 5 will close into the hand</p>
<p>Finger 2 and 1 with extend left and remain parallel with each other.</p>
<p>Your 2nd finger (pointer) should be mostly blocking the view of finger 1 (thumb)</p>
<img src="letterG.jpg" alt="letter G" width="150" height ="250">
<img src="letterGalt.jpg" alt="letter Galt" width="150" height ="250">

</body>
</html>