<!DOCTYPE html>
<html lang="en">


<head>
    <title>Lesson 4 H-N</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <h1>Lesson 4: H-N</h1>
    <h2>Before we start</h2>
    <p>Before we begin flex and close your hand a few times and make sure your fingers are good to go</p>
    <p>Remember, your wrist orientation and finger position are crucial in sign making</p>
    <p>This lesson you will be learning the second line of letters in the alphabet: H, I, J, K, L, M, and N. After this
        lesson you will be given the
        <br> choice of a multiple choice quiz, the camera identification quiz or returning to the main menu
    </p>

    <h2>H</h2>
    <p>H is a simple start for this lesson as it has little difficulty</p>
    <p>Start with your palm facing you and your (right) hand facing left</p>
    <p>Fingers 4 and 5 close into the palm and finger 1 will rest on finger 4</p>
    <p>Fingers 2 and 3 will extend outward side by side</p>
    <img src="\images\letterH.jpg" alt="letter H" width="200" height="200">

    <h2>I</h2>
    <p>Similarly I is simple as well needing little complex movement</p>
    <p>First, palm faces outward towards listener and fingers 2, 3, and 4 should be closed into the hand</p>
    <p>Finger 1 should go in front of fingers 2 and 3</p>
    <p>Finger 5 extends upward</p>
    <img src="\images\letterI.jpg" alt="letter I" width="200" height="200">

    <h2>J</h2>
    <p>True complexity in sign language begins with the letter J, one of the only 2 dynamic alphabet signs</p>
    <p>To begin start your hand making the letter I. You can go back to the previous part for reference</p>
    <p>You will then begin to make a circle with finger 5. Start by rotating to the right clockwise</p>
    <p>When you start reaching the bottom your palm should now be facing you instead of outward where it started</p>
    <p>Finally, when you bring your hand back up to complete the circle keep your palm facing you so you are essentially
        making an I sign to yourself</p>
    <img src="\images\letterJ.jpg" alt="letter J" width="200" height="200">

    <h2>K</h2>
    <p>Back to static signs with the letter K</p>
    <p>Start with your palm facing your listener</p>
    <p>Fingers 4 and 5 should be closed into the palm</p>
    <p>Fingers 2 and 3 should extend making a slight V shape</p>
    <p>Lastly, finger 1 will position itself between finger 2 and 3</p>
    <img src="\images\letterK.jpg" alt="letter K" width="150" height="250">

    <h2>L</h2>
    <p>L is another one of the signs in the ASL alphabet that is quite self explanatory</p>
    <p>The palm should face the listener and fingers 3, 4, and 5 should be closed into the palm</p>
    <p>Fingers 1 and 2 should form an L, with finger 2 extending upwards and finger 1 extending horizontally</p>
    <img src="\images\letterL.jpg" alt="letter L" width="150" height="250">

    <h2>M</h2>
    <p>M and N are very similar symbols with a key difference, the position of finger 1</p>
    <p>For M, your palm should face your listener and fingers 2, 3, 4, and 5 will be closed</p>
    <p>Now put finger 1 between fingers 4 and 5 going behind the closed fingers</p>
    <p>A tip for remembering M from N. Look at the fingers on top of the thumb. If there are 3 its an M and if its 2 its
        an N</p>
    <img src="\images\letterM.jpg" alt="letter M" width="175" height="225">

    <h2>N</h2>
    <p>As you can see with the example, N is extremely similar to N</p>
    <p>To start, the palm faces the listener and fingers 2, 3, 4, and 5 are closed into the palm</p>
    <p>This time finger 1 goes between finger 3, and 4 behind the closed fingers</p>
    <p>Again, a tip for remembering M from N. Look at the fingers on top of the thumb. If there are 3 its an M and if
        its 2 its an N</p>
    <img src="\images\letterN.jpg" alt="letter N" width="150" height="250">
</body>

</html>