<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Lesson 1: Introduction</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/styles/lesson.css">

</head>

<body>
    <header>
        <h1>Lesson 4: H - N</h1>
    </header>

    <!-- Main content flex container -->
    <!-- New flex container for the top title -->





    <div class="top-flex-title">
        <section class="full-width-section">
            <div class="content-container">
                <div class="text-content">



                    <h3>Diverse Roles and Significance of ASL Letters H, I, J, K, L, M, N</h3>
                    <p>In American Sign Language (ASL), the letters H, I, J, K, L, M, and N are not only key for finger
                        spelling but also possess unique features and cultural relevance. Let's explore the distinct
                        aspects of these ASL letters:</p>
                    <ul>
                        <li><strong>Letter H:</strong> The 'H' in ASL is notable for its open, parallel finger
                            positioning, often used in signs needing a sense of openness or alignment.</li>
                        <li><strong>Letter I:</strong> The 'I' in ASL, represented by a pinky finger, is unique in its
                            simplicity and is often employed in signs that require a subtle or delicate touch.</li>
                        <li><strong>Letter J:</strong> The 'J' in ASL involves a dynamic movement, tracing the letter in
                            the air. This represents one of the few instances where motion is used to form a letter in
                            the ASL alphabet.</li>
                        <li><strong>Letter K:</strong> The 'K' in ASL stands out with its two-fingered V-shape and thumb
                            placement, used in various signs that require a sense of division or distinction.</li>
                        <li><strong>Letter L:</strong> The 'L' in ASL is easily recognizable and versatile, often seen
                            in educational settings due to its clear and simple structure.</li>
                        <li><strong>Letter M:</strong> The 'M' in ASL, formed with three fingers over the thumb, is
                            distinctive for its more complex handshape, often used in signs with layered or nuanced
                            meanings.</li>
                        <li><strong>Letter N:</strong> The 'N' in ASL, similar to 'M' but with two fingers over the
                            thumb, is versatile in its use and is a common element in many compound signs.</li>
                    </ul>
                    <p>These letters, with their diverse handshapes and roles, enrich the expressiveness and depth of
                        American Sign Language, highlighting its complexity and cultural significance.</p>
                </div>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/lYhAAMDQl-Q" frameborder="0" allowfullscreen></iframe>
                    <p class="video-source">Source: YouTube/ Our Berg Life</p>
                </div>
            </div>
    </div>
    </section>
    </div>





    <div class="flex-container">
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter H</h2>
                <p>The 'H' in ASL is created by extending the index and middle fingers while keeping the rest of the
                    fingers curled into the palm. The thumb should be folded over the ring and pinky fingers. This
                    gesture requires careful finger placement for clear communication.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Start with your hand open, all fingers extended and palm
                        facing forward.</li>
                    <li><strong>Extend Index and Middle Fingers:</strong> Extend your index and middle fingers straight
                        out, keeping them close together, side by side.</li>
                    <li><strong>Curling Ring and Pinky Fingers:</strong> Curl your ring and pinky fingers into your
                        palm. They should be held firmly against the palm.</li>
                    <li><strong>Thumb Positioning:</strong> Fold your thumb over the ring and pinky fingers, resting it
                        against the middle segment of the ring finger.</li>
                    <li><strong>Ensure Clarity:</strong> Keep the 'H' sign clear by maintaining the index and middle
                        fingers fully extended and parallel. The hand should be steady, and the sign held at eye level
                        for visibility.</li>
                </ul>
                <p>Practice forming the 'H' sign multiple times to ensure precision and clarity. This letter is crucial
                    for many words in ASL and is a fundamental part of ASL alphabetic signs.</p>
                <a class="btn" href="/TScamera3?t=7"> Practice "H"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterH.jpg" alt="letter H" width="200" height="200">
            </aside>
        </section>
    </div>
    </div>



    <div class="flex-container">
        <!-- Section for Letter 'I' -->
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter I</h2>
                <p>The 'I' in ASL is represented by extending the little (pinky) finger while keeping the rest of the
                    fingers curled into the palm, and the thumb across the front. This sign requires precision in finger
                    isolation for clear communication.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Start with your hand open, palm facing yourself.</li>
                    <li><strong>Extend Pinky Finger:</strong> Extend your pinky finger straight up, keeping it isolated
                        and elevated.</li>
                    <li><strong>Curl Other Fingers:</strong> Curl your index, middle, and ring fingers into your palm.
                        They should be held tightly against the palm.</li>
                    <li><strong>Thumb Positioning:</strong> Place your thumb across the front, resting against or
                        slightly over the middle segment of the index finger.</li>
                    <li><strong>Ensure Clarity:</strong> Keep the 'I' sign clear by maintaining the pinky finger fully
                        extended. The hand should be steady, and the sign held at eye level for visibility.</li>
                </ul>
                <p>Repeat the formation of the 'I' sign multiple times, checking in a mirror to ensure accuracy. The
                    letter 'I' is a key element in ASL finger spelling and is used in various signs.</p>
                <a class="btn" href="/TScamera3?t=8"> Practice "I"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterI.jpg" alt="letter I" width="200" height="200">
            </aside>
        </section>


    </div>
    </div>


    <div class="flex-container">
        <!-- Section for Letter 'J' -->
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter J</h2>
                <p>The 'J' in ASL is unique as it involves a motion. It's represented by drawing a 'J' in the air with
                    your pinky finger. This sign starts with a similar hand position to the letter 'I', then adds a
                    downward motion to complete the 'J' shape.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Begin with your hand open, palm facing yourself. Extend
                        your pinky finger upwards, just like the sign for 'I'.</li>
                    <li><strong>Draw the 'J':</strong> With your pinky finger extended, draw a 'J' in the air. Start at
                        the top and bring your hand down and then curve forward.</li>
                    <li><strong>Curl Other Fingers:</strong> Keep your other fingers - the index, middle, and ring
                        fingers - curled into your palm throughout the motion.</li>
                    <li><strong>Thumb Positioning:</strong> Place your thumb across the front, resting against or over
                        the middle segment of the index finger, ensuring it doesn't obstruct the motion of the 'J'.</li>
                    <li><strong>Motion Clarity:</strong> Ensure the motion is smooth and clear, representing the letter
                        'J' accurately. The downward stroke should be straight, followed by a distinct curve at the
                        bottom.</li>
                </ul>
                <p>Practice the 'J' sign several times to get the motion fluid and precise. This dynamic sign is
                    essential in ASL finger spelling and adds diversity to the language's handshapes.</p>
                <a class="btn" href="/TScamera3?t=9"> Practice "J"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterJ.jpg" alt="letter J" width="200" height="200">
            </aside>
        </section>




    </div>
    </div>


    <div class="flex-container">
        <!-- Section for Letter 'K' -->
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter K</h2>
                <p>The 'K' in ASL is formed by positioning the index and middle fingers to create a right angle, with
                    the thumb extended between them. This sign requires precise finger placement to differentiate it
                    from similar signs.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Start with your hand open, fingers spread apart, and
                        palm facing sideways.</li>
                    <li><strong>Index and Middle Fingers:</strong> Raise your index and middle fingers, keeping them
                        together. Then, split them to form a right angle, with the index finger pointing up and the
                        middle finger pointing forward.</li>
                    <li><strong>Thumb Positioning:</strong> Place your thumb up between the index and middle fingers,
                        touching the middle segment of the middle finger. The thumb acts as a support, keeping the
                        fingers in the right angle position.</li>
                    <li><strong>Curling Other Fingers:</strong> Curl your ring and pinky fingers into your palm. They
                        should be held firmly against the palm, out of sight, to emphasize the shape of the 'K'.</li>
                    <li><strong>Ensure Clarity:</strong> Maintain the right angle between the index and middle fingers
                        clearly. The hand should be steady, and the sign held at eye level for visibility.</li>
                </ul>
                <p>Practicing the 'K' sign is important for its unique structure. Repeat the formation several times,
                    checking in a mirror for accuracy. This letter is crucial in ASL as it has a distinct shape compared
                    to other letters.</p>
                <a class="btn" href="/TScamera3?t=10"> Practice "K"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterK.jpg" alt="letter K" width="200" height="200">
            </aside>
        </section>




    </div>
    </div>

    <div class="flex-container">
        <!-- Section for Letter 'L' -->
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter L</h2>
                <p>The 'L' in ASL is formed by extending the thumb and index finger to create a right angle, resembling
                    the letter 'L'. This sign is straightforward but requires clear finger positioning for accurate
                    communication.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Start with your hand open, all fingers extended, and
                        palm facing forward.</li>
                    <li><strong>Index Finger Extension:</strong> Keep your index finger extended straight up, pointing
                        upwards.</li>
                    <li><strong>Thumb Positioning:</strong> Extend your thumb outward, forming a right angle with the
                        index finger.</li>
                    <li><strong>Curling Other Fingers:</strong> Curl your middle, ring, and pinky fingers into your
                        palm. They should be held firmly against the palm, emphasizing the 'L' shape created by the
                        thumb and index finger.</li>
                    <li><strong>Ensure Clarity:</strong> Maintain the right angle between the index finger and thumb
                        clearly. The hand should be steady, and the sign held at eye level for visibility.</li>
                </ul>
                <p>Practice forming the 'L' sign to ensure it's easily recognizable. This letter is frequently used in
                    ASL and is a key component of the alphabet.</p>
                <a class="btn" href="/TScamera3?t=11"> Practice "L"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterL.jpg" alt="letter L" width="200" height="200">
            </aside>
        </section>




    </div>
    </div>

    <div class="flex-container">
        <!-- Section for Letter 'M' -->
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter M</h2>
                <p>The 'M' in ASL is represented by tucking the thumb underneath the first three fingers (index, middle,
                    and ring fingers) while the pinky remains extended. This sign mimics the shape of the letter 'M'
                    with the three fingers over the thumb.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Start with your hand open, all fingers extended, and
                        palm facing yourself.</li>
                    <li><strong>Thumb Positioning:</strong> Place your thumb under your index, middle, and ring fingers,
                        slightly towards the palm.</li>
                    <li><strong>Curling Fingers:</strong> Curl your index, middle, and ring fingers down over your
                        thumb, holding it in place.</li>
                    <li><strong>Pinky Extension:</strong> Keep your pinky finger extended straight out. It should be the
                        only finger not touching the thumb.</li>
                    <li><strong>Ensure Clarity:</strong> Make sure the three fingers are securely over the thumb and the
                        pinky is clearly extended to accurately represent the letter 'M'.</li>
                </ul>
                <p>Practicing the 'M' sign is important for its unique structure. This letter is a fundamental part of
                    ASL finger spelling and requires precision for clear communication.</p>
                <a class="btn" href="/TScamera3?t=12"> Practice "M"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterM.jpg" alt="letter M" width="200" height="200">
            </aside>
        </section>




    </div>
    </div>

    <div class="flex-container">
        <!-- Section for Letter 'N' -->
        <section class="asf-lesson">
            <div class="lesson-content">
                <h2>Letter N</h2>
                <p>The 'N' in ASL is represented by placing the thumb underneath the first two fingers (index and middle
                    fingers) while keeping the ring and pinky fingers extended. This sign mimics the shape of the letter
                    'N' with two fingers over the thumb.</p>
                <ul>
                    <li><strong>Initial Hand Position:</strong> Start with your hand open, all fingers extended, and
                        palm facing yourself.</li>
                    <li><strong>Thumb Positioning:</strong> Place your thumb under your index and middle fingers,
                        slightly towards the palm.</li>
                    <li><strong>Curling Fingers:</strong> Curl your index and middle fingers down over your thumb,
                        holding it in place.</li>
                    <li><strong>Ring and Pinky Extension:</strong> Keep your ring and pinky fingers extended straight
                        out. They should be the only fingers not touching the thumb.</li>
                    <li><strong>Ensure Clarity:</strong> Ensure the two fingers are securely over the thumb and the ring
                        and pinky fingers are clearly extended to accurately represent the letter 'N'.</li>
                </ul>
                <p>Practicing the 'N' sign is important for its distinct structure. The letter 'N' is a key component of
                    the ASL alphabet and requires precision for effective communication.</p>
                <a class="btn" href="/TScamera3?t=13"> Practice "N"
                </a>
            </div>
            <aside class="example-box">
                <img src="\images\letterN.jpg" alt="letter N" width="200" height="200">
            </aside>
        </section>
    </div>
    </div>










    <!-- Your existing JavaScript -->
    <script>
        function openWord(wordName) {
            // Close any open tabcontent
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            // Show the clicked tabcontent
            document.getElementById(wordName).style.display = "block";
        }

        function closeTab(wordName) {
            // Hide the tabcontent
            document.getElementById(wordName).style.display = "none";
        }
    </script>
</body>

</html>