<!DOCTYPE html>
<html>

<head>
    <title>Lesson 5</title>
</head>

<body>
    <div class="bg-primary">
        <div class="justify-center">
            <h1 class="site-title text-white font-bold">Lesson 1: Introduction</h1>
        </div>
    </div>
    <div class="container justify-center max-md: px-20">

        <h1>Lesson 6: U-Z</h1>
        <h2>Before we start</h2>
        <p>Before we begin flex and close your hand a few times and make sure your fingers are good to go</p>
        <p>Remember, your wrist orientation and finger position are crucial in sign making</p>
        <p>This lesson you will be learning the final line of letters in the alphabet: U, V, W, X, Y, and Z. After this
            lesson you will be given the
            <br> choice of a multiple choice quiz, the camera identification quiz or returning to the main menu
        </p>

        <h2>U</h2>
        <p>All letters in this final lesson are quite simple starting with the letter U</p>
        <p>U starts with your palm facing your listener and closing fingers 4 and 5 as well as finger 1 in front of them
        </p>
        <p>Then extend fingers 2 and 3 side by side to complete the sign</p>
        <img src="letterU.jpg" alt="letter U" width="150" height="250">

        <h2>V</h2>
        <p>Similar to sign U, V also replicates its english counterpart</p>
        <p>Like U, face your palm to your listener and close fingers 4 and 5 into your hand with finger 1 in front of
            them
        </p>
        <p>This time extend fingers 2 and 3 in opposite directions to form a V</p>
        <img src="letterV.jpg" alt="letter V" width="175" height="225">

        <h2>W</h2>
        <p>W continues the style of V and U in the concept of its sign</p>
        <p>Finger 5 will close into the palm and finger 1 will close over it</p>
        <p>Now extend fingers 2, 3, and 4 in different directions to make a W</p>
        <img src="letterW.jpg" alt="letter W" width="200" height="200">

        <h2>X</h2>
        <p>For X there is slight variation in position of finger 1 so read closely</p>
        <p>Fingers 3, 4, and 5 should close inward with the palm facing the listener</p>
        <p>Finger 2 will form a hook and Finger 1 can be either closed into the palm like the picture, or closed
            outside.
            Both forms are acceptable</p>
        <img src="letterX.jpg" alt="letter X" width="150" height="250">

        <h2>Y</h2>
        <p>Y is the final static sign in the alphabet</p>
        <p>First face your palm towards your listener and close fingers 2, 3, and 4 into the palm</p>
        <p>Now extend fingers 1 and 5 in opposite direction to form the sign</p>
        <img src="letterY.jpg" alt="letter Y" width="200" height="200">

        <h2>Z</h2>
        <p>Z is the final letter of the ASL alphabet and the second dynamic sign</p>
        <p>The position of fingers 1, 3, 4, and 5 are to remain closed during the sign</p>
        <p>Finger 2 will extend and trace a Z in the air</p>
        <p>Congratulations, you completed the alphabet in ASL</p>
        <img src="letterZ.jpg" alt="letter Z" width="150" height="250">
</body>

</html>