<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="bg-primary">
        <div class="justify-center">
            <h1 class="site-title text-white font-bold">Lesson 1: Introduction</h1>
        </div>
    </div>
    <div class="container justify-center max-md: px-20">
        <h2>What is ASL?</h2>
        <p>ASL or American Sign Language is a non-verbal language used by the deaf and mute community in the US. ASL
            uses a
            combination of hand signs,
            <br> directional motions, and gestures to convey language and meaning. Around 430,000 people In the US
            use ASL
            to communicate and now you can
            <br> too. This introductory lesson will teach you basic information about ASL before learning any signs,
            the
            information is crucial still so
            <br> pay attention.
        </p>
        <h2>Static vs Dynamic</h2>
        <p>In American Sign Language there are two types of signs: Static and Dynamic</p>
        <p>Static signs rely on the use of the shape and direction of your hands and fingers and are typically
            reserved for
            letters, numbers, and simple
            <br> words. This Introductory will primarily focus on these signs.
        </p>
        <p>Dynamic signs incorporate gestures and movements with shape and direction to symbolize larger words or
            even
            strings of them.</p>

        <h2>Importance of Orientation</h2>
        <p>Verbal language uses several letters to compose endless combinations. The way sign languages approach
            this is
            similar, using the hand direction
            <br> and fingers to represent the particular word. Just like the words brood and broad are only a one
            letter
            difference, signs do the same, the
            <br>difference between the letter A and S is the position of the thumb in the sign.
        </p>
        <img src="\images\AandSexample.jpg" alt="A and S example" width="100" height="100">

        <h2>Hand Direction</h2>
        <p>The direction of the hand is of great importance, not only because it can change the word entirely, it
            also is
            crucial in the readability of your
            <br> signs. Think of a limp wrist symbolizing a slurred word, it can be harder to read and understand if
            your
            sign isn't properly displayed. When
            <br>displaying a sign, your hand should be steady with your palm typically facing your listener and each
            sign
            should be completed and pronounced before
            <br> starting the next
        </p>

        <h2>Finger identification</h2>
        <p>Throughout these lessons you will have instructions on how to arrange your fingers to produce the sign
            being
            taught. The Fingers will be labeled
            <br> from Thumb to pinkie and your right hand to produce the signs. The Fingers number assignment will
            be shown
            below
        </p>
        <p>1 - Thumb</p>
        <p>2 - Pointer finger</p>
        <p>3 - Middle finger</p>
        <p>4 - Ring finger</p>
        <p>5 - Pinky</p>

        <h2>Example</h2>
        <p>Can you figure out what hand sign is being made here? If fingers 3 and 4 are down but fingers 1, 2, and 5
            are
            out, what popular hand sign is this?</p>
        <p>Its the rock and roll hand sign. Fun Fact, in ASL that sign means "I love you"</p>
        <img src="\images\Rockexample.jpg" alt="rock symbol" width="100" height="100">
        <img src="\images\Loveexample.jpg" alt="Love symbol" width="100" height="100">
    </div>
</body>

</html>