<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Quiz 4</O-T></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <h1>Lesson 4 Quiz Questions</h1>
    <p>1. Whach sign from this lesson is a dynamic sign? <br>a. M <br>b. J <br>c. H <br>d. K</p>
    <p>2. Which sign from this lesson replicates its english letter? <br>a. K <br>b. L <br>c. M <br>d. H</p>
    <p>3. Which finger is the defining difference between the letters M and N? <br>a. Finger 3 <br>b. Finger 4 <br>c.
        Finger 1 <br>d. Finger 5</p>
    <p>4. What is this sign?</p>
    <img src="\images\letterK.jpg" alt="letter K" width="150" height="250">
    <p>a. B <br>b. K <br>c. J <br>d. G</p>
    <p>5. What is this sign?</p>
    <img src="\images\letterM.jpg" alt="letter M" width="150" height="250">
    <p>a. M <br>b. N <br>c. E <br>d. A</p>
    <p>6. What is this sign?</p>
    <img src="\images\letterI.jpg" alt="letter I" width="175" height="225">
    <p>a. H <br>b. D <br>c. I <br>d. L</p>
    <p>7. What is this sign?</p>
    <img src="\images\letterL.jpg" alt="letter L" width="150" height="250">
    <p>a. L <br>b. K <br>c. C <br>d. J</p>
    <p>8. What is this sign?</p>
    <img src="\images\letterN.jpg" alt="letter N" width="150" height="250">
    <p>a. B <br>b. E <br>c. N <br>d. M</p>
    <p>9. What is this sign?</p>
    <img src="\images\letterH.jpg" alt="letter H" width="200" height="200">
    <p>a. H <br>b. N <br>c. F <br>d. G</p>


</body>

</html>