<!DOCTYPE html>
<html>
<head>
<title>Lesson 4 H-N</title>
</head>
<body>

<h1>Lesson 5: O-T</h1>
<h2>Lesson 5 Quiz Questions</h2>
<p>1. Which sign(s) from this lesson replicate their english counterpart? <br>a. U <br>b. V <br>c. W <br>d. V & W</p>
<p>2. Which sign from this lesson has a finger that's position can vary? <br>a. V <br>b. X <br>c. U <br>d. Y</p>
<p>3. Which sign from this lesson is dynamic? <br>a. W <br>b. X <br>c. Z <br>d. Y</p>
<p>4. What is this sign?</p>
<img src="letterX.jpg" alt="letter X" width="150" height ="250">
<p>a. Y <br>b. X <br>c. F <br>d. W</p>
<p>5. What is this sign?</p>
<img src="letterU.jpg" alt="letter U" width="150" height ="250">
<p>a. V <br>b. U <br>c. X <br>d. T</p>
<p>6. What is this sign?</p>
<img src="letterY.jpg" alt="letter Y" width="225" height ="175">
<p>a. Y <br>b. P <br>c. Q <br>d. Z</p>
<p>7. What is this sign?</p>
<img src="letterV.jpg" alt="letter V" width="175" height ="225">
<p>a. U <br>b. V <br>c. M <br>d. W</p>
<p>8. What is this sign?</p>
<img src="letterZ.jpg" alt="letter Z" width="150" height ="250">
<p>a. J <br>b. Z <br>c. D <br>d. X</p>
<p>9. What is this sign?</p>
<img src="letterW.jpg" alt="letter W" width="200" height ="200">
<p>a. U <br>b. V <br>c. W <br>d. N</p>


</body>
</html>