<!DOCTYPE html>
<html>
<head>
<title>Lesson 4 H-N</title>
</head>
<body>

<h1>Lesson 5: O-T</h1>
<h2>Lesson 5 Quiz Questions</h2>
<p>1. What sign from this lesson resembles K in shape? <br>a. S <br>b. O <br>c. P <br>d. H</p>
<p>2. What sign from this lesson resembles A in shape? <br>a. R <br>b. S <br>c. Q <br>d. J</p>
<p>3. What sign from this lesson crosses fingers 2 and 3? <br>a. R <br>b. S <br>c. M <br>d. N</p>
<p>4. What is this sign?</p>
<img src="letterQ.jpg" alt="letter Q" width="150" height ="250">
<p>a. H <br>b. P <br>c. Q <br>d. T</p>
<p>5. What is this sign?</p>
<img src="letterO.jpg" alt="letter O" width="150" height ="250">
<p>a. P <br>b. O <br>c. T <br>d. C</p>
<p>6. What is this sign?</p>
<img src="letterT.jpg" alt="letter T" width="200" height ="200">
<p>a. M <br>b. N <br>c. S <br>d. T</p>
<p>7. What is this sign?</p>
<img src="letterP.jpg" alt="letter P" width="250" height ="150">
<p>a. S <br>b. K <br>c. L <br>d. P</p>
<p>8. What is this sign?</p>
<img src="letterR.jpg" alt="letter R" width="150" height ="250">
<p>a. R <br>b. D <br>c. P <br>d. K</p>
<p>9. What is this sign?</p>
<img src="letterS.jpg" alt="letter S" width="200" height ="200">
<p>a. T <br>b. M <br>c. A <br>d. S</p>


</body>
</html>